
<div class="row">
    <div class="col-xs-12 ">
        <div class="element">
            <div class="result-name">
                <%= pizza.title %> (<%= size=="big_size"? "Велика": "Мала" %>)
            </div>
            <div class="infoAboutOrder">
                <div class="size">
                    <img class = "littleImg" src="assets/images/size-icon.svg">
                    <span><%=pizza[size].size%></span>
                </div>
                <div>
                    <img class = "littleImg" src="assets/images/weight.svg">
                    <span><%=pizza[size].weight%></span>
                </div>
            </div>
            <div>
                <span style="font-weight: bold; font-size: 16px;"><%= pizza[size].price*quantity %> грн.</span>

                    <span style="font-weight: bold; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;<%= quantity %>
                        <% if(quantity%10==1&&quantity!=11) { %>
                        піца
                        <% } else if(quantity%10>1&&quantity%10<5&&(quantity!=12||quantity!=13||quantity!=14)) {%>
                        піци
                        <% }else { %>
                        піц
                        <% } %></span>

            </div>
            <img src="<%= pizza.half_icon %>" class="partOfImg">
        </div>

    </div>
</div>